<% @_page_title =   "我的课堂" %>
<!--头部 开始-->
<%= render "public/header" %>
<!--头部 结束-->
<div class="mzhr_pos whHd960 mt10">
 	<span class="fl">您当前的位置： <a href="<%= root_path %>">我的课堂</a> >> 我的课程</span>
</div>
<div class="min whHd960 mt10">
<%= render "public/left_nav2" %>
<div class="minR">
        	<div class="minR_bgwt bd">
            	<div class="ttBox3"><b class="icon1">我的课程</b></div>	
				<% if @user_accounts.empty? %>
		       <div class="my_kcXz bd">
				<p>你还没有选课哟！赶快选课吧！</p>
				<p><a href="http://bm.xredu.com" target="_blank">选课中心>></a></p>
			    </div>
			   <% end %>
			   <% @user_accounts.each do |user_account| %>
               <% learn_schedule = LearnSchedule.where(:account_id => user_account.id).first %>
                <div class="minRKcList bd">
                	<a href="<%= product_path_domain(user_account.product_id) %>" class="minRKcList1_1" title="<%= user_account.product_name %>"><%= user_account.product_name %></a>
                    <p id="effect_msg_<%= user_account.id %>"></p>
                    <a href="<%=accounts_assets_path(:account_id => user_account.id) %>">    </a>
					<% if user_account.effective? %>
                    <a href="<%= accounts_show_path(:id => user_account.id) %>" class="minRKcList1_2"><img src="<%= GlobalSettings.image_domain %>2015112/images/btn3.jpg" width="73" height="22" /></a>
					 <% end %>
                	<div class="clear"></div>	
                </div>
				<% end %>
                <div class="clear"></div>
                <%= will_paginate @user_accounts, :class => "mpage", :renderer => BootstrapPagination::Rails %>
            </div>
        	
        </div>
</div>
<!--尾部 开始-->
<%= render "public/footer" %>
<!--尾部 结束-->
<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
function effect_msg(account_id,effect_type, effect_str, created_at) {
		var _now = new Date();
		_now.setTime(<%= Time.now.to_i * 1000 %>);
		var _ta = split_date(created_at);
		var _created_at = new Date(_ta[0], _ta[1]-1, _ta[2], _ta[3], _ta[4], _ta[5]);
		_ta = split_date(effect_str);
		var _effect_at = new Date(_ta[0], _ta[1]-1, _ta[2], _ta[3], _ta[4], _ta[5]);
		if (_now.getTime() >= _effect_at.getTime()) {
			$("#effect_msg_"+account_id).text("课程已过期 ");
		} else {
			$("#effect_msg_"+account_id).text("已学习" + (((_now.getTime()-_created_at.getTime()).toFixed(2)/86400000)).toFixed(0) + "天，剩"+(((_effect_at.getTime()-_now.getTime()).toFixed(2)/86400000)).toFixed(0)+"天。");
		}
		
}
function split_date(d) {
	var _d = d.split(" ")[0];
	var _t = d.split(" ")[1];
	var _da = _d.split("-");
	var _ta = _t.split(":");
	return [_da[0],_da[1],_da[2],_ta[0],_ta[1],_ta[2]];
}
<% @user_accounts.each do |user_account| %>
effect_msg(<%= user_account.id %>, '<%= user_account.effect_type %>', '<%= user_account.effect_str %>', '<%= format_date(user_account.created_at) %>');
<% end %>
</script>	
<% end -%>


