<div class="newstop">
        <a href="http://my.xredu.com"></a>
        <p>
            讲义下载
        </p>
        <div class="clear">
        </div>
    </div>
    <h3 class="news_h3">
        <a href="tel:4006202002">咨询热线：400-620-2002</a>
    </h3>
    <h3 class="news_map">
        <a href="http://my.xredu.com">我的课堂</a>> <a href="<%=accounts_index_path %>">我的课程</a>>讲义
    </h3>
    
   
    <div class="my_classlist2">
        <ul>
          <% if @notes.empty? %>
          <li>
            <p>暂无记录</p>
          </li>
          <% end %>
          <% @notes.each do |note| %>
            <li>
               <p>
               知识点名称：<%= note.knowledge_tree_name %>
               </p>
               <p>
               笔记内容：<%= note.content %>
               </p>
               <p>
               上传时间：<span><%= format_date(note.created_at) %></span>
               </p>
               <p>
               <a href="<%= user_notes_down_path(:id => note.id) %>">下载</a>
              </p>
               <div class="clear"></div>
            </li>
          <% end %>
        </ul>
        <div class="clear">
        </div>
    </div>
    <%= will_paginate @notes, :class => "news_page", :renderer => BootstrapPagination::Rails %>
    
    <h3 class="hp_grh3">
        热门活动
    </h3>
    <a href="http://product.xredu.com/" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>/mobTheme/images/hp_ad4.gif" />
    </a>
<%=cms_part_page("589") %>

