<div class="newstop">
        <a href="http://my.xredu.com"></a>
        <p>
            讲义下载
        </p>
        <div class="clear">
        </div>
    </div>
    <h3 class="news_h3">
        <a href="tel:4006202002">咨询热线：400-620-2002</a>
    </h3>
    <h3 class="news_map">
        <a href="http://my.xredu.com">我的课堂</a>> 讲义下载
    </h3>
    
   
    <div class="my_classlist2">
        <ul>
          <% if @user_accounts.empty? %>
          <li>
            <p>暂无记录</p>
          </li>
          <% end %>
          <% @user_accounts.each do |user_account| %>
            <li>
               <p>
               课程名称：<%= user_account.product_name %>
               </p>
               <p>
               上传时间：<span><%= format_date(user_account.created_at) %></span>
               </p>
               <p>
               <a href="<%= user_notes_show_path(:account_id => user_account.id) %>">
               查看
               </a></p>
               <div class="clear"></div>
            </li>
          <% end %>
            
        </ul>
        <div class="clear">
        </div>
    </div>
    <%= will_paginate @user_accounts, :class => "news_page", :renderer => BootstrapPagination::Rails %>
    <h3 class="hp_grh3">
        热门活动
    </h3>
    <a href="http://product.xredu.com/" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>/mobTheme/images/hp_ad4.gif" />
    </a>
<%=cms_part_page("589") %>

