<div class="newstop">
        <a href="http://my.xredu.com"></a>
        <p id="ttp">
            完善信息
        </p>
        <div class="clear">
        </div>
    </div>
    <h3 class="news_h3">
        <a href="tel:4006202002">咨询热线：400-620-2002</a>
    </h3>
   <h3 class="news_map">
        <a href="http://my.xredu.com">我的课堂</a>> 完善信息
    </h3>
    <div class="my_class_card_tt">
        <span id="bjbtn">完善信息</span> <span class="nonosp" id="listbtn"><a href="<%= user_password_path %>">修改密码</a></span>
    </div>
    <%= form_for @current_user, :url => update_user_profile_path, :method => :post, :html => { :id => "grxxForm", :onsubmit => "return update_user_profile();", :multipart => true } do |f| -%>
    <div class="my_classlist2" id="bj" style="margin-top: -1px; padding-top: 1px;">
        <br />
       <p class="hp_input_p">
        <span class="s1">姓名：</span>
        <%= f.text_field :full_name, :placeholder => "请输入您的姓名", :max_length => 20, :class => "s1" %>
        <br />
    </p>
    <p class="hp_input_p">
        <span class="s1">性别：</span>
        <%= f.select :gender, User.gender_hash.collect {|k,v| [v,k]}, :prompt => "请选择", :class => "s1" %>
        <br />
    </p>
    <p class="hp_input_p">
        <span class="s1">手机：</span>
        <%= f.text_field :mobile_phone, :placeholder => "请输入您的手机号", :maxlength => 11, :class => "s1" %>
        <br />
    </p>
    <p class="hp_input_p">
        <span class="s1">地址：</span>
        <%= f.text_field :address, :placeholder => "请输入您的地址", :maxlength => 255, :class => "s1" %>
        <br />
    </p>
    <p class="hp_input_p">
        <span class="s1">邮箱：</span>
        <%= f.text_field :email, :placeholder => "请输入您的电子邮箱", :maxlength => 255, :class => "s1" %>
        <br />
    </p>
    <p class="hp_input_p">
        <span class="s1">头像：</span>
        <input class="s1" style=" border:none;" name="avatar" type="file" />
        <br />
    </p>
    <br /><br />
        <%= f.submit "提交", :class => "rega1 rega2" %>
     <br /><br /><br />
        <div class="clear">
        </div>
        
    </div>
    <% end %>
    <h3 class="hp_grh3">
        热门活动
    </h3>
    <a href="http://product.xredu.com/" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>/mobTheme/images/hp_ad4.gif" />
    </a>
    <%=cms_part_page("589") %>
<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
jQuery(".slideTxtBox").slide();
function update_user_profile() {

    if ($("#user_full_name").val() == '') {
        
        alert("姓名不能为空!");
        return false;
    }
    if ($("#user_gender").val() == '') {
        
        alert("性别不能为空!");
        return false;
    }
    if ($("#user_mobile_phone").val() == '') {
        
        alert("手机不能为空!");
        return false;
    }
    if ($("#user_address").val() == '') {
        
        alert("手机不能为空!");
        return false;
    }
    if ($("#user_email").val() == '') {
        
        alert("邮箱不能为空!");
        return false;
    }
    return true;
    //$.post($("#grxxForm").attr("action"), $("#grxxForm").serialize(), function(data) {
        
    //  alert(data.msg);
    //});
}
</script>   
<% end -%>