<% @_page_title =   "修改密码" %>
<!--头部 开始-->
<%= render "public/header" %>
<!--头部 结束-->
<div class="mzhr_pos whHd960 mt10">
 	<span class="fl">您当前的位置： <a href="<%= root_path %>">我的课堂</a> >> 修改密码</span>
</div>
<div class="min whHd960 mt10">
<%= render "public/left_nav2" %>
<div class="minR">
	<div class="minR_bgwt  bd">
		<div class="ttBox3"><b class="icon1">密码修改</b></div>	
		<div class="hy_grxxTab">
		<%= form_for @current_user, :url => update_user_password_path, :method => :post, :html => { :id => "xgmmForm" } do |f| -%>
			<table>
				<tr>
					<td>用 户 名：</td>
					<td><%= @current_user.name %></td>
				</tr>
				<tr>
					<td>原 密 码：</td>
					<td><input type="password" id="user_current_password" placeholder="请输入您的原密码" name="user[current_password]" class="hy_input1" /><span class="cor_red">*</span></td>
				</tr>
				 <tr>
					<td>新 密 码：</td>
					<td><input type="password" id="user_password" name="user[password]" placeholder="请输入您的新密码" class="hy_input1" /><span class="cor_red">*</span></td>
				</tr>
				<tr>
					<td>确认密码：</td>
					<td><input type="password" id="user_password_confirmation" name="user[password_confirmation]" placeholder="请输入您的确认密码" class="hy_input1" /><span class="cor_red">*</span></td>
				</tr>
				<tr>
					<td></td>
					<td><input name="" type="button" class="buttonTj" onclick="update_user_password(this);"/></td>
				</tr>
			</table>
			<% end -%>
		</div>
	</div>
</div>
<div class="clear"></div>
</div>
<!--尾部 开始-->
<%= render "public/footer" %>
<!--尾部 结束-->

<%= content_for :javascripts do -%>
<script type="text/javascript" charset="utf-8">
function update_user_password(btn) {
	btn.disabled = true;
	if ($("#user_current_password").val() == '') {
		btn.disabled = false;
		alert("原密码不能为空!");
		return;
	}
	if ($("#user_password").val() == '') {
		btn.disabled = false;
		alert("新密码不能为空!");
		return;
	}
	if ($("#user_password").val().length < 6) {
		btn.disabled = false;
		alert("新密码不能少于6位!");
		return;
	}
	if ($("#user_password_confirmation").val() == '') {
		btn.disabled = false;
		alert("确认密码不能为空!");
		return;
	}
	
	if ($("#user_current_password").val() == $("#user_password").val()) {
		btn.disabled = false;
		alert("原密码和新密码不能一样!");
		return;
	}
	
	if ($("#user_password_confirmation").val() != $("#user_password").val()) {
		btn.disabled = false;
		alert("新密码和确认密码不一致!");
		return;
	}

	$.post($("#xgmmForm").attr("action"), $("#xgmmForm").serialize(), function(data) {	
		alert(data.msg);
		btn.disabled = false;
	});
}
</script>
<% end -%>

