   <div class="newstop">
        <a href="http://my.xredu.com"></a>
        <p>
            我的订单
        </p>
        <div class="clear">
        </div>
    </div>
     <h3 class="news_h3">
        <a href="tel:4006202002">咨询热线：400-620-2002</a>
    </h3>
    <h3 class="news_map">
        <a href="http://my.xredu.com">我的课堂</a>> 订单列表
    </h3>
     <h2 class="my_classh2">
        <span class="pop">账户余额:<b>￥<%= format_money(@current_user.now_balance) %></b></span> <a href="<%= user_recharges_index_path %>">充值></a>
        <div class="clear">
        </div>
    </h2>
     <div class="my_class_card_tt">
        <span>我的订单</span>
    </div>
    <div class="my_class_card_con">
        <ul>
            <% @orders.each do |order| %>
            <li>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="tttd3">
                            产品名称：
                        </td>
                        <td class="tttd2" colspan="3">
                            <% order.order_items.each do |item| %>
                                <%= item.product_name %><br>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td class="tttd3">
                            订单金额：
                        </td>
                        <td>
                            <span>￥<%= format_money(order.total_amount) %></span>
                        </td>
                        <td class="tttd3">
                            下单时间：
                        </td>
                        <td>
                            <%= format_date(order.created_at) %>
                        </td>
                    </tr>
                    <tr>
                        <td class="tttd3">
                            支付方式：
                        </td>
                        <td>
                            <%= order.pay_type_text %>
                        </td>
                        <td class="tttd3">
                            状态：
                        </td>
                        <td>
                            <font style=" color:#009900;"><%= Order.status_hash[order.status] %></font>
                        </td>
                    </tr>
                    <tr>
                        <td class="tttd3">
                            订单号：
                        </td>
                        <td>
                            <%= order.code %>
                        </td>
                        <td colspan="2">
                             <a class="gary" href="<%= order_path(:id => order.code) %>" title="查看">查看</a>
                              <% if order.weifukuan? %>
                                <%= link_to '取消',
                                            order_path(:id => order.code),
                                            :method => :delete, :class => "cl2",
                                            :data => { :confirm => "确认取消订单(#{order.code})?" } %>
                              <% end %>
                              </div>
                              <% if order.weifukuan? && (order.zhifubao? || order.kuaiqian?) %>
                              <a class="cl3" href="<%= pay_order_path(:id => order.code) %>" title="付款" target="_system_pay">
                              付款</a>
                              <% end %>
                        </td>
                    </tr>
                </table>
            </li>
            <% end %>
        </ul>
        <br />
        <div class="clear">
        </div>
    </div>

    <%= will_paginate @orders, :class => "news_page", :renderer => BootstrapPagination::Rails %>

<h3 class="hp_grh3 topborder">
        热门活动
    </h3>
    <a href="http://product.xredu.com/" class="hp_botad">
        <img alt="" src="<%=GlobalSettings.image_domain %>/mobTheme/images/hp_ad4.gif" />
    </a>
    <%=cms_part_page("589") %>
