<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>欣瑞教育官网课程图书首页</title>
    <%= csrf_meta_tags %>
    <link rel="Stylesheet" href="<%= GlobalSettings.css_domain %>PCTheme/StyleSheet.css" />
    <link href="<%= GlobalSettings.image_domain %>PCTheme/zzsc.css" rel="stylesheet" />
    <script type="text/javascript" src="<%= GlobalSettings.css_domain %>js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="<%= GlobalSettings.css_domain %>js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src="<%= GlobalSettings.css_domain %>js/tabbedContent.js"></script>
	<link rel="stylesheet" type="text/css" href="http://asset.xredu.com/css/2014310style.css"></link>
	<script src="http://asset.xredu.com/2014310js/sy_st.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://asset.xredu.com/2014310js/jquery.js" type="text/javascript"></script>
</head>
<body>
<%= cms_part_page("142") %>

    <div class="topBanner">
        <a href="http://product.xredu.com" class="logoa"></a><a href="http://www.xredu.com/zhuanti/app/index.html" target="_blank" class="bannera">
            <img src="<%= GlobalSettings.image_domain %>PCTheme/images/adbanner1.gif" />
        </a>
        <img class="rcimg" src="<%= GlobalSettings.image_domain %>PCTheme/images/qrcode.gif" />
        <div class="clear">
        </div>
    </div>
    <div class="topmenu">
        <div class="topmenu_con">
            <span class="cnamesp">全部商品分类</span>
            <ul>
                <li><a href="http://product.xredu.com" class="cur">首页</a> </li>
                <li><a href="http://product.xredu.com/products/search?utf8=%E2%9C%93&search%5Bexam_type_id_eq%5D=&search%5Btype_id_eq%5D=&search%5Bexam_level_id_contains%5D=&search%5Bskxx_id_eq%5D=1&order_type=">面授课程</a> </li>
                <li><a href="http://product.xredu.com/products/search?utf8=%E2%9C%93&search%5Bexam_type_id_eq%5D=&search%5Btype_id_eq%5D=&search%5Bexam_level_id_contains%5D=&search%5Bskxx_id_eq%5D=2&order_type=">网校课程</a> </li>
                <li><a href="http://product.xredu.com/products/search?utf8=%E2%9C%93&search%5Bexam_type_id_eq%5D=&search%5Btype_id_eq%5D=&search%5Bexam_level_id_contains%5D=&search%5Bskxx_id_eq%5D=3&order_type=">图书教材</a> </li>
                <li><a href="http://www.xredu.com/book/list_2168_1.html" target="_blank">教材勘误</a> </li>
                <li><a href="http://www.xredu.com/zhuanti/app/index.html" target="_blank">考试APP</a> </li>
            </ul>
            <span class="telsp">400-620-2002 </span>
        </div>
    </div>
    <div class="Pc_con">
        <div class="Pc_con_left">
            <% Product.exam_type_id_hash.each do |k,v| %>
            <% if k != 3 %>
            <h2>
                <%=v %>
            </h2>
            <% Product.exam_level_id_hash.each do |k1,v1| %>
            <% if k==1 || (k == 2 && k1 == 1) %>
                <h3>
                    <%=v1 %>
                </h3>
                <% Product.type_id_hash.each do |k2,v2| %>
                <p>
                    <a href="/products/search?search[exam_type_id_eq]=<%=k %>&search[type_id_eq]=<%=k2 %>&search[exam_level_id_contains]=%2C<%=k1 %>%2C"><%=v2.gsub("课程","") %></a>
                </p>
                <% end %>
            <% end %>
            <% end %>
            <% end %>
            <% end %>
            <div class="clear">
            </div>
        </div>
        <div class="Pc_con_right">
            <%=cms_part_page("590") %>
            <div class="toppost">
                <h2 class="hp_newsh2">
                    最新公告
                </h2>
                <div class="toppost_con">
                    <ul>
                        <%=cms_cate_list("2168", 9, "li", 38) %>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="timePro">
                <h2 class="hp_newsh2">
                    限时抢购
                </h2>
                <ul>
                    <% Product.where("deleted = ? and sale = ?", false, true).order('available DESC, sortrank ASC, id DESC').limit(3).each do |product| %>
                    <li>
                        <!--
                        <p>
                            <span>2</span>天 <span>9</span>时 <span>15</span>分 <span>23</span>秒
                        </p>
                        -->
                        <a href="<%=product_path(:id => product.code)%>">
                            <img alt="" src="<%= image_clip_path(product.img_path, '130') %>" />
                        </a>
                        <h2>
                            <a href="<%=product_path(:id => product.code)%>"><%= product.name %></a>
                        </h2>
                        <h3>
                            抢购价:<span>￥<%= format_money(product.sale_price) %></span>
                        </h3>
                    </li>
                    <% end %>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="clear" style="height: 20px;">
        </div>
        <% Product.exam_level_id_hash.each do |k1,v1| %>
        <div class="prolist">
            <h2 class="prolist_h2">
                <%=v1 %>教师资格</h2>
            <div class='tabbed_content'>
                <div class='tabs'>
                    <div class='moving_bg'>
                        &nbsp;
                    </div>
                    <span class='tab_item'>笔试</span><span class='tab_item'>面试</span><span class='tab_item'>教材</span>
                </div>
                <div class='slide_content'>
                    <div class='tabslider'>
                        <% Product.type_id_hash.each do |k2,v2| %>
                        <ul>
                             <% Product.where("exam_type_id = 1 and type_id = ? and deleted = ? and sale = ? and exam_level_id like '%,#{k1},%'", k2, false, true).order('available DESC, sortrank ASC, id DESC').limit(4).each do |product| %>
                            <li>
                                <% if product.available && product.sortrank >= 10 %>
                                <img alt="" class="topItem" src="<%= GlobalSettings.image_domain %>PCTheme/images/proItem.png" />
                                <% end %>
                                <a href="<%=product_path(:id => product.code)%>" target="_blank" class="imga">
                                    <img alt="" src="<%= image_clip_path(product.img_path, '140') %>" />
                                </a>
                                <div class="clear" style="height: 20px;">
                                </div>
                                <h2>
                                    <a href="<%=product_path(:id => product.code)%>" target="_blank"><%= product.name %></a>
                                </h2>
                                <h3>
                                    抢购价:<span>￥<%= format_money(product.sale_price) %></span>
                                </h3>
                                <div class="clear" style="height: 30px;">
                                </div>
                                <a href="<%=product_path(:id => product.code)%>" target="_blank" class="buya">点击抢购</a> </li>
                            <% end %>
                            
                        </ul>
                        <% end %>
                    </div>
                    <br style='clear: both' />
                </div>
            </div>
            <br />
            <br />
        </div>
        <div class="clear" style="height: 30px;">
        </div>
        <% end %>
        
        
        <div class="prolist">
            <h2 class="prolist_h2">
                教师编制考试</h2>
            <div class='tabbed_content'>
                <div class='tabs'>
                    <div class='moving_bg'>
                        &nbsp;
                    </div>
                    <span class='tab_item'>笔试</span><span class='tab_item'>面试</span> <span class='tab_item'>
                        教材</span>
                </div>
                <div class='slide_content'>
                    <div class='tabslider'>
                        <% Product.type_id_hash.each do |k2,v2| %>
                        <ul>
                             <% Product.where("exam_type_id = 2 and type_id = ? and deleted = ? and sale = ?", k2, false, true).order('available DESC, sortrank ASC, id DESC').limit(4).each do |product| %>
                            <li>
                                <% if product.available && product.sortrank >= 10 %>
                                <img alt="" class="topItem" src="<%= GlobalSettings.image_domain %>PCTheme/images/proItem.png" />
                                <% end %>
                                <a href="<%=product_path(:id => product.code)%>" target="_blank" class="imga">
                                    <img alt="" src="<%= image_clip_path(product.img_path, '140') %>" />
                                </a>
                                <div class="clear" style="height: 20px;">
                                </div>
                                <h2>
                                    <a href="<%=product_path(:id => product.code)%>" target="_blank"><%= product.name %></a>
                                </h2>
                                <h3>
                                    抢购价:<span>￥<%= format_money(product.sale_price) %></span>
                                </h3>
                                <div class="clear" style="height: 30px;">
                                </div>
                                <a href="<%=product_path(:id => product.code)%>" target="_blank" class="buya">点击抢购</a> </li>
                            <% end %>
                            
                        </ul>
                        <% end %>
                    </div>
                    <br style='clear: both' />
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="clear" style=" height:50px;"></div>
    <%= render "public/footer" %>
</body>
</html>
