
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @_page_title || "欣瑞教育" %></title>
<%= yield :stylesheets %>
<script src="<%= GlobalSettings.js_domain %>/module/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
</head>
<body>
<%= cms_part_page("78") %>
<%= yield :teacher_info %>
<div class="w_960">
	<%= yield :location %>
    <%= yield %>
</div>
<%= cms_part_page("2") %>
<%= yield :javascripts %>
</body>
</html>
